*, *:after, *:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
  background-color: #E9E9E9;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.spinner-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #E9E9E9;
  z-index: 999999;
}

.spinner {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 48%;
  left: 48%;
}

.double-bounce1, .double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #be3439;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes sk-bounce {
  0%, 100% {
    -webkit-transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1);
  }
}

@keyframes sk-bounce {
  0%, 100% {
    transform: scale(0);
    -webkit-transform: scale(0);
  }
  50% {
    transform: scale(1);
    -webkit-transform: scale(1);
  }
}

.website-upper-navbar {
  z-index: 99;
  position: fixed;
  width: 100%;
  padding: 35px 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.website-upper-navbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.website-upper-navbar ul li {
  display: inline;
  vertical-align: middle;
}

.website-upper-navbar ul li a {
  font-size: 15px;
  font-weight: 800;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #3C3C3C;
}

.website-upper-navbar .logo-wrapper img {
  width: 200px;
}

.website-upper-navbar .right-side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.website-upper-navbar .right-side ul li {
  margin-right: 35px;
}

.website-upper-navbar .right-side ul li:last-child {
  margin-right: 50px;
}

.website-upper-navbar .links-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#nav-icon3 {
  width: 34px;
  position: relative;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

#nav-icon1 span, #nav-icon3 span, #nav-icon4 span {
  display: block;
  position: absolute;
  height: 4.5px;
  width: 100%;
  background: #3C3C3C;
  border-radius: 0 0 10px 10px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

/* Icon 3 */
#nav-icon3 span:nth-child(1) {
  top: 0px;
}

#nav-icon3 span:nth-child(2), #nav-icon3 span:nth-child(3) {
  top: 12px;
}

#nav-icon3 span:nth-child(4) {
  top: 24px;
}

#nav-icon3.open span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}

#nav-icon3.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

#nav-icon3.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#nav-icon3.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}

#vertical-nav {
  position: fixed;
  z-index: 1;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 100px;
}

#vertical-nav ul {
  list-style: none;
  padding: 0;
}

#vertical-nav li {
  text-align: left;
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
  margin-bottom: 50px;
}

#vertical-nav .cd-dot {
  position: relative;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  border: .75px solid #3C3C3C;
}

#vertical-nav .cd-label {
  position: relative;
  color: #be3439;
  font-size: 12px;
  letter-spacing: 1px;
  font-weight: 800;
  font-family: 'Lato', sans-serif;
  margin-left: 25px;
  text-transform: uppercase;
  opacity: 0;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
}

#vertical-nav a {
  position: relative;
  display: inline-block;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  vertical-align: middle;
}

#vertical-nav a:after {
  content: "";
  display: table;
  clear: both;
}

#vertical-nav a span {
  display: inline-block;
  opacity: 0.8;
}

#vertical-nav a:hover .cd-label {
  opacity: 1;
}

#vertical-nav a:hover .cd-dot {
  background-color: #be3439;
  border: none;
}

#vertical-nav a.is-selected .cd-dot {
  -webkit-box-shadow: 16px 0px 25px #be3439;
          box-shadow: 16px 0px 25px #be3439;
  background-color: #be3439;
  border: none;
  opacity: 1;
}

#vertical-nav a.is-selected .cd-label {
  text-shadow: 0px 2px 25px #be3439;
  font-size: 16px;
  letter-spacing: 2px;
  opacity: 1;
}

section {
  position: relative;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  width: 100%;
  position: relative;
}

.reveal {
  visibility: hidden;
  position: relative;
  width: 80%;
  height: 80%;
  overflow: hidden;
}

.model-three-section {
  height: 200vh;
  top: 0;
}

.subsection-one {
  background-image: url("img/background-image.png");
  background-position: center center;
  background-size: cover;
  overflow: hidden;
}

.smoke-overlay {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  pointer-events: none;
}

.hero-image-container {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero-image-model-three {
  z-index: 2;
  width: 55%;
  position: relative;
  left: 3%;
}

.hero-image-text {
  z-index: 1;
  position: absolute;
  top: 1%;
  color: #353535;
  font-family: 'Lato', sans-serif;
  font-size: 4.5vw;
  text-transform: uppercase;
  letter-spacing: 15px;
}

.red-underlay {
  z-index: 1;
  position: absolute;
}

.bottom-text-container {
  position: relative;
  z-index: 5;
  bottom: 22.5%;
  text-align: center;
}

.specs-container {
  color: #353535;
  margin: 25px 0;
}

.specs-container .spec-wrapper {
  display: inline-block;
  margin: 0 25px;
}

.specs-container img, .specs-container h4 {
  display: inline;
}

.specs-container h4 {
  font-size: 42px;
  margin: 0 10px;
}

.specs-container h4 .lowercase {
  font-size: 28px;
}

.specs-container h6 {
  margin: 0;
  color: #636363;
  letter-spacing: 1px;
  font-size: 14px;
}

.reserve-wrapper a {
  margin: 0 25px;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-size: 14px;
  vertical-align: middle;
  font-weight: bold;
  color: #353535;
}

.reserve-wrapper a:first-child {
  color: #be3439;
  font-size: 26px;
  letter-spacing: 2.5px;
}

.subsection-two {
  background-color: #E7E7E7;
}

.test {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 75%;
  height: 75%;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 99;
  overflow: hidden;
}

.game-cards_nav-buttons {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  height: 5em;
  width: 75%;
  left: 0;
  right: 0;
  margin: auto;
}

.swiper-button-next, .swiper-container-rtl .swiper-button-prev, .swiper-button-prev, .swiper-container-rtl .swiper-button-next {
  background-image: none !important;
}

/*
  @media only screen and (min-width: 320px) {
    .sl-nav {
      display: none;
    }
  
    .swiper-button-next,
    .swiper-button-prev {
      display: none;
    }
  
  
  }
  @media only screen and (min-width: 1024px) {
    .swiper-button-next,
    .swiper-button-prev {
      display: block;
    }
  
    .sl-nav {
      display: block;
    }
  }
*/
.game-cards_swiper-container {
  margin-left: 250px;
}

.swiper-slide {
  margin-right: 50px;
  cursor: pointer;
}

.swiper-slide-prev .slide-cover, .swiper-slide-next .slide-cover, .slide-cover {
  height: 100%;
  width: 10em;
  position: absolute;
  top: 0;
  z-index: 2;
  opacity: 0.2;
  -webkit-transition: opacity 300ms;
  transition: opacity 300ms;
  visibility: visible;
}

.swiper-slide-active .slide-cover {
  position: absolute;
  opacity: 0;
  -webkit-transition: visibility 0s 0.5s, opacity 300ms;
  transition: visibility 0s 0.5s, opacity 300ms;
  height: 100%;
  width: 10em;
  z-index: 2;
  visibility: hidden;
}

@media only screen and (min-width: 320px) {
  .game-cards_swiper-container {
    width: 95%;
    height: 100%;
  }
  .sl-card-wrapper {
    position: relative;
    height: 540px;
    overflow: hidden;
  }
}

@media only screen and (min-width: 375px) {
  /* 375 */
  /*-------------------------------------------------------*/
  /* Card Bkg Img: 375
        /*-------------------------------------------------------*/
  /*-------------------------------------------------------*/
  /* Card Content: 375
        /*-------------------------------------------------------*/
  .sl-card-wrapper, .sl--content-wrapper-inactive {
    height: 600px;
  }
  .sl--content-wrapper-inactive {
    width: 91%;
  }
  .sl--content-container {
    height: 372px;
  }
  .sl--card-reveal {
    height: 100%;
    width: 100%;
  }
  .sl--card-hide {
    -webkit-transform: translate(0, 465px);
            transform: translate(0, 465px);
    height: 667px;
  }
  /*@-moz-document url-prefix() {
            .sl--card-hide {
                color: red;
                transform: translate(0, 265px);
                border: red 5px solid;
            }
            
        }*/
}

@media only screen and (min-width: 768px) {
  .games-container {
    width: 768px;
    margin: 0 auto;
  }
  .game-cards_swiper-container {
    width: 690px;
  }
  .sl-card-wrapper {
    width: 400px;
    height: 540px;
    -webkit-box-shadow: 5px 5px 15px 5px #00000088;
            box-shadow: 5px 5px 15px 5px #00000088;
  }
  .sl--content-wrapper-inactive {
    width: 290px;
    height: 100%;
  }
  .sl--content-wrapper-active {
    width: 101%;
  }
  .sl--card-hide {
    -webkit-transform: translate(0, 375px);
            transform: translate(0, 375px);
  }
}

@media only screen and (min-width: 1024px) {
  .games-container {
    width: 1024px;
  }
  .game-cards_content-wrapper {
    height: 540px;
    width: 522px;
    display: inline-block;
  }
  .game-cards_swiper-container {
    position: absolute;
    left: -25.5%;
    width: 505px;
    height: 540px;
  }
}

@media only screen and (min-width: 1440px) {
  .games-container {
    width: 100%;
  }
  .game-cards_content-wrapper,
  .game-cards_swiper-container {
    width: 80%;
  }
}

.card_cover {
  position: absolute;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
}

.card-logo {
  position: relative;
  top: 17.5em;
  width: 15em;
  -webkit-filter: drop-shadow(0 0 0.75em black);
          filter: drop-shadow(0 0 0.75em black);
}

.card-button button {
  position: relative;
  bottom: -18em;
  display: inline-block;
  margin: 1.5em 0;
  padding: 1.25em 2em;
  font-weight: 800;
  text-transform: uppercase;
  cursor: pointer;
  outline: none;
  border: 0;
  -webkit-transition: all 0.5s cubic-bezier(0.65, -0.25, 0.25, 0.95);
  transition: all 0.5s cubic-bezier(0.65, -0.25, 0.25, 0.95);
}

.card-button button a {
  text-decoration: none;
}

.card-button button:hover, .card-button button:focus, .card-button button:active {
  letter-spacing: 0.125em;
}

.card_bottom-gradient {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: linear-gradient(154deg, rgba(34, 14, 15, 0) 17%, rgba(0, 0, 0, 0.616) 53%);
  -webkit-box-shadow: 0 0 200px rgba(0, 0, 0, 0.568) inset;
          box-shadow: 0 0 200px rgba(0, 0, 0, 0.568) inset;
}

.sl--content-container {
  position: absolute;
}

.sl--content-container h2 {
  text-transform: uppercase;
}

@media only screen and (min-width: 320px) {
  .sl--content-wrapper {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
    -webkit-transition: width 250ms, height 250ms;
    transition: width 250ms, height 250ms;
  }
  .sl--content-wrapper-inactive {
    width: 101%;
    height: 100%;
  }
  .sl--content-wrapper-active {
    width: 101%;
    height: 100%;
  }
  .sl--content-container {
    width: 100%;
    height: auto;
    padding: 0 16px;
    z-index: 1;
  }
  .sl--card-nav-container {
    position: absolute;
    width: 100%;
    height: 70px;
    z-index: 1;
    bottom: 0;
    /*background-color: #ffffff;*/
    background-image: -webkit-gradient(linear, left bottom, left top, from(#f5f5f5), to(rgba(254, 249, 241, 0)));
    background-image: linear-gradient(0deg, #f5f5f5, rgba(254, 249, 241, 0));
  }
  .sl--content-btn {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 37px;
    height: 37px;
    cursor: pointer;
    z-index: 1;
  }
  .content-hide-btn {
    -webkit-transform: scale(0, 0);
            transform: scale(0, 0);
  }
}

/* 
@media only screen and (min-width: 414px) {
         
          .sl-card-wrapper,
          .sl--content-wrapper-inactive {
            height: 650px;
          }
          .sl--card-hide {
            height: 740px;
            transform: translate(0, 495px);
          }
}*/
/*# sourceMappingURL=style.css.map */