*, *:after, *:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
  background-color: #E8E8E8;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.website-upper-navbar {
  z-index: 1;
  position: fixed;
  width: 100%;
  padding: 35px 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.website-upper-navbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.website-upper-navbar ul li {
  display: inline;
}

.website-upper-navbar ul li a {
  font-size: 20px;
  color: #3C3C3C;
}

.website-upper-navbar .upper-navbar-row {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.website-upper-navbar .menu-button {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.website-upper-navbar .left-row {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.website-upper-navbar .left-row ul li {
  margin-left: 35px;
}

.website-upper-navbar .left-row ul li:first-child {
  margin-left: 0;
}

.website-upper-navbar .logo-wrapper {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.website-upper-navbar .logo-wrapper img {
  width: 200px;
}

.website-upper-navbar .right-row {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.website-upper-navbar .right-row ul li {
  margin-right: 35px;
}

.website-upper-navbar .right-row ul li:last-child {
  margin-right: 0;
}

.website-upper-navbar .icons {
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

section {
  position: relative;
  height: 100vh;
  margin: 0;
  padding: 0;
}

section .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  width: 100%;
  position: relative;
}

section img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
}

section .reveal {
  visibility: hidden;
  position: relative;
  width: 80%;
  height: 80%;
  max-width: 500px;
  overflow: hidden;
}

.section-model3 {
  top: 0;
  background-image: url("img/background-image.png");
  background-size: cover;
  background-position: center center;
}

#vertical-nav {
  position: fixed;
  top: 85%;
  left: 2%;
  bottom: auto;
  z-index: 1;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#vertical-nav ul {
  list-style: none;
}

#vertical-nav li {
  text-align: left;
  margin: -.5em 0;
}

#vertical-nav li:nth-last-child(-n+3) {
  opacity: 0.9;
}

#vertical-nav li:nth-last-child(-n+2) {
  opacity: 0.7;
}

#vertical-nav li:nth-last-child(-n+1) {
  opacity: 0.5;
}

#vertical-nav .cd-dot {
  position: relative;
  top: 8px;
  height: 16.5px;
  width: 16.5px;
  border-radius: 50%;
  border: 3px solid white;
  background-color: #0e0e0e;
  -webkit-transition: -webkit-transform 0.2s, border 0.5s;
  -webkit-transition: border 0.5s, -webkit-transform 0.2s;
  transition: border 0.5s, -webkit-transform 0.2s;
  transition: transform 0.2s, border 0.5s;
  transition: transform 0.2s, border 0.5s, -webkit-transform 0.2s;
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
}

#vertical-nav .cd-label {
  position: relative;
  margin-right: 10px;
  padding: 0.5em 0.5em;
  color: white;
  font-size: 0.875rem;
  letter-spacing: 0.05rem;
  font-weight: 800;
  text-transform: uppercase;
  opacity: 0;
  -webkit-transition: -webkit-transform 0.2s, opacity 0.2s;
  -webkit-transition: opacity 0.2s, -webkit-transform 0.2s;
  transition: opacity 0.2s, -webkit-transform 0.2s;
  transition: transform 0.2s, opacity 0.2s;
  transition: transform 0.2s, opacity 0.2s, -webkit-transform 0.2s;
  -webkit-transform-origin: 0% 50%;
  transform-origin: 0% 50%;
}

#vertical-nav a {
  display: inline-block;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

#vertical-nav a:after {
  content: "";
  display: table;
  clear: both;
}

#vertical-nav a span {
  float: left;
  display: inline-block;
  -webkit-transform: scale(0.5);
  transform: scale(0.5);
}

#vertical-nav a:hover span {
  -webkit-transform: scale(0.7);
  transform: scale(0.7);
}

#vertical-nav a:hover .cd-label {
  opacity: 1;
}

#vertical-nav a.is-selected .cd-dot {
  border: 2px solid red;
  -webkit-transform: scale(1);
  transform: scale(1);
}
/*# sourceMappingURL=style.css.map */