@import "scss/partials/variables";
@import "scss/partials/mixins";

*,*:after,*:before { 
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; 
}
html, body {
    background-color: #E8E8E8;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}

.website-upper-navbar {
    z-index: 1;
    position: fixed;
    width: 100%;
    padding: 35px 100px;
    display: flex;
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        li {
            display: inline;
            a {
                font-size: 20px;
                color: #3C3C3C;
            }
        }
    }
    .upper-navbar-row {
        flex: 1;
        display: flex;
    }
    .menu-button {
        justify-content: flex-start;
        flex-grow: 0;
        flex-shrink: 0;
    }
    .left-row {
        justify-content: flex-end;
        ul li {
            margin-left: 35px;
            &:first-child {
                margin-left: 0;
            }
        }
    }
    .logo-wrapper {
        justify-content: center;
        img {
            width: 200px;
        }
    }
    .right-row {
        justify-content: flex-start;
        ul li {
            margin-right: 35px;
            &:last-child {
                margin-right: 0;
            }
        }
    }
    .icons {
        flex-grow: 0;
        flex-shrink: 0;
        justify-content: flex-end;
    }
}
@media screen and (max-width: 480px) {
    
}





section {
    position: relative;
    height: 100vh;
    margin: 0;
    padding: 0;
    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 50vh;
        width: 100%;
        position: relative;
      }
    img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        transform-origin: left;
    }
    .reveal {
        visibility: hidden;
        position: relative;
        width: 80%;
        height: 80%;
        max-width: 500px;
        overflow: hidden;
    }
}

.section-model3 {
    top: 0;
    background-image: url("img/background-image.png");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center center;
}


.mouse {
    position: absolute;
    bottom: 4%;
    left: 50%;
    cursor: ns-resize;
    transform: translateX(-50%);
    
    &-shape{
      position: relative;
      display: block;
      width: 35px;
      height: 65px;
      margin: 0 auto 15px;
      border: 3px solid #FFF;
      border-radius: 22px;
      
      .mouse-animation {
        position: absolute;
        display: block;
        top: 25%;
        left: 50%;
        width: 8px;
        height: 8px;
        background: #FFF;
        border-radius: 50%;
        transform: translate(-50%, -25%);
        animation: ball-scroll 2s linear infinite;
      }
    }
    

  }
  @keyframes ball-scroll {
    0% {
      opacity: 1;
      top: 25%;
    }
    20% {
      opacity: 1;
      top: 50%;
    }
    50% {
      opacity: 0;
      top: 75%;
    }
    100% {
      opacity: 0;
      top: 25%;
    }
  }


@import "scss/modules/dotted-side-nav";



