@import "scss/partials/variables";
@import "scss/partials/mixins";


*,*:after,*:before { 
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; 
}
html, body {
    background-color: rgb(75, 75, 75);
}
a {
    text-decoration: none;
}


section {
    position: relative;
    height: 100vh;
    margin: 0 2em;
}




#vertical-nav {
    position: fixed;
    top: 85%;
    left: 2%;
    bottom: auto;
    z-index: 1;


    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);



    @include noUserSelect();
    //@include fadeInVariant2();
    
    ul {
        list-style: none;
    }
    li {
        text-align: left;
        margin: -.5em 0;
    }
}
#vertical-nav li:nth-last-child(-n+3) {
    opacity: 0.9;
}
#vertical-nav li:nth-last-child(-n+2) {
    opacity: 0.7;
}
#vertical-nav li:nth-last-child(-n+1) {
    opacity: 0.5;
}
#vertical-nav .cd-dot {
    position: relative;
    top: 8px;
    height: 16.5px;
    width: 16.5px;
    border-radius: 50%;
    border: 3px solid rgb(255, 255, 255);
    background-color: #0e0e0e;
    -webkit-transition: -webkit-transform 0.2s, border 0.5s;
    -moz-transition: -moz-transform 0.2s, border 0.5s;
    transition: transform 0.2s, border 0.5s;
    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    -o-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
}
#vertical-nav .cd-label {
    position: relative;
    margin-right: 10px;
    padding: 0.5em 0.5em;
    color: white;
    font-size: 0.875rem;
    letter-spacing: 0.05rem;
    font-weight: 800;
    text-transform: uppercase;
    opacity: 0;
    -webkit-transition: -webkit-transform 0.2s, opacity 0.2s;
    -moz-transition: -moz-transform 0.2s, opacity 0.2s;
    transition: transform 0.2s, opacity 0.2s; 
    -webkit-transform-origin: 0% 50%;
    -moz-transform-origin: 0% 50%;
    -ms-transform-origin: 0% 50%;
    -o-transform-origin: 0% 50%;
    transform-origin: 0% 50%;
}
#vertical-nav a {
        display: inline-block;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
}
#vertical-nav a:after {
        content: "";
        display: table;
        clear: both;
}
#vertical-nav a span {
        float: left;
        display: inline-block;

        -webkit-transform: scale($side-nav_transform-scale_default);
        -moz-transform: scale($side-nav_transform-scale_default);
        -ms-transform: scale($side-nav_transform-scale_default);
        -o-transform: scale($side-nav_transform-scale_default);
        transform: scale($side-nav_transform-scale_default);
}
#vertical-nav a:hover span {
        -webkit-transform: scale($side-nav_transform-scale_hover);
        -moz-transform: scale($side-nav_transform-scale_hover);
        -ms-transform: scale($side-nav_transform-scale_hover);
        -o-transform: scale($side-nav_transform-scale_hover);
        transform: scale($side-nav_transform-scale_hover);
}
#vertical-nav a:hover .cd-label {
    opacity: 1;
}
#vertical-nav a.is-selected .cd-dot {
    border: 2px solid red;
    -webkit-transform: scale($side-nav_transform-scale_selected);
    -moz-transform: scale($side-nav_transform-scale_selected);
    -ms-transform: scale($side-nav_transform-scale_selected);
    -o-transform: scale($side-nav_transform-scale_selected);
    transform: scale($side-nav_transform-scale_selected);
}
