$primary-font-color: #D6D6D6;
$secondary-font-color: #535353;
$red-highlight: #B51229;
$background-color: #000000;

$side-nav_transform-scale_default: 0.5;
$side-nav_transform-scale_hover: 0.7;
$side-nav_transform-scale_selected: 1;