* {
    cursor: none;
   }
   
   $bg-color: rgba(112, 112, 112, 1);
   $bg-color-50: transparentize($bg-color, 0.5);
   $bg-color-0: transparentize($bg-color, 1);
   $size: 10px;
   
   .cursor {
    visibility: hidden;
    position: absolute;
    margin-top: calc(#{$size} / -2);
    margin-left: calc(#{$size} / -2);
    width: $size;
    height: $size;
   }
   
   .circle {
    width: $size;
    height: $size;
    background-color: $bg-color;
    border-radius: 50%;
   }
   
   .pulse {
    border-radius: 50%;
    box-shadow: 0 0 0 $bg-color-50;
    animation: pulse 1.2s 1;
   }
   
   @keyframes pulse {
    0% {
     box-shadow: 0 0 0 0 $bg-color-50;
    }
    70% {
     box-shadow: 0 0 0 $size $bg-color-0;
    }
    100% {
     box-shadow: 0 0 0 0 $bg-color-0;
    }
   }
   