#vertical-nav {
    position: fixed;
    z-index: 1;
    top: 50%;
    transform: translateY(-50%);
    left: 100px;

    ul {
        list-style: none;
        padding: 0;
    }
    li {
        text-align: left;
        transition: 0.5s ease-in;
    }

}




#vertical-nav .cd-dot {
    position: relative;

    height: 10px;
    width: 10px;

    border-radius: 50%;
    border: 1px solid #3C3C3C ;
/*
    -webkit-transition: -webkit-transform 0.2s, border 0.5s;
    -moz-transition: -moz-transform 0.2s, border 0.5s;
    transition: transform 0.2s, border 0.5s; */


}
#vertical-nav .cd-label {
    position: relative;

    color: #C70006;

 


    text-transform: uppercase;

    opacity: 0;

    -webkit-transition: opacity 0.2s;
    -moz-transition: opacity 0.2s;
    transition: opacity 0.2s; 

}
#vertical-nav a {
        display: inline-block;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;

        transition: padding 400ms ease-in-out;
        &:hover {
            padding: 20px 0;
        }
  
}
#vertical-nav a:after {
        content: "";
        display: table;
        clear: both;
}



#vertical-nav a span {

        display: inline-block;
/*
        -webkit-transform: scale(0.5);
        -moz-transform: scale(0.5);
        -ms-transform: scale(0.5);
        -o-transform: scale(0.5);
        transform: scale(0.5);
*/

}
#vertical-nav a:hover span {
    /*
        -webkit-transform: scale(0.7);
        -moz-transform: scale(0.7);
        -ms-transform: scale(0.7);
        -o-transform: scale(0.7);
        transform: scale(0.7);
        */
}

#vertical-nav a:hover .cd-label {
    opacity: 1;
}



#vertical-nav a.is-selected .cd-dot {
    background-color: #C70006;
    border: none;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
}
#vertical-nav a.is-selected .cd-label {
    opacity: 1;
}
